<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>

	<appSettings>

		<!-- Datos calendarizacion-->
		<add key="Demonio_TiempoEsperaEnSegundos" value=" 86400" />
		<add key="Demonio_TiempoEsperaAlEscribirLogMilisegundos" value="2000" />
		<add key="Demonio_HoraInicioActividad" value="00:00" />
		<add key="Demonio_HoraFinActividad" value="23:59" />

		<!-- DirectorioBackup-->
		<add key="DirectorioBackup" value="E:\XLSConfigBackup" />

		<!-- Datos de Apps -->
		<add key="App__wmx" value="E:\edn4\WMX" />
		<add key="App__processmaker.admin" value="E:\edn4\processMaker.Admin" />

	</appSettings>
</configuration>